@charset "UTF-8"

body {
  background-color: white;
  background-image: url();
}
header {
  text-align: center;
  background-color: black;
  color: white;
  max-height: 1200px;
  max-width: 1200px;
}

footer {
  background-color: black;
  color: white;
  margin: auto;
}
